

.Component.panel {
  position: relative;
  display: flex;
  padding: 20px;
  margin: 5px;

  border-radius: 5px;
  background: rgba(0, 0, 0, .05);
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .01);
}


.Component.panel.variable .text.name {
  margin-right: 5px;
}
.Component.panel.variable .text.value {
  color: #333;
}



.Component.panel.lineGraph {
  padding: 5px;
  width: 50vw;
  height: 20vh;
}