

.popup.pairMenu {
    position: fixed;
    width: 300px;
    height: auto;
    
    padding: 20px;
    /* box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, .05); */
    box-shadow: 5px 5px 200px 100px rgba(0, 0, 0, .15);
    background-color: #fff;
    z-index: 10;

    border-radius: 5px;
    transition: all .3s;
}

.popup.pairMenu.hide {
    opacity: 0;
    /* transform: scale(.7) translateY(100px); */
    transform: translateY(50px);
    pointer-events: none;
}


.popup.pairMenu.pairSingleDevice {
    padding: 10px 20px;
}
.popup.pairMenu.pairSingleDevice.binding {
    pointer-events: none;
    background-color: red;
}

.popup.pairMenu.pairSingleDevice.binding div {
    opacity: 0;
}


.popup.pairMenu.pairSingleDevice .icon.deviceIcon {
    position: relative;
    width: calc(30%);
    padding: 20px;
    margin-left: calc(35% - 20px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup.pairMenu.pairSingleDevice:not(.hide) .icon.deviceIcon {
    animation: showDeviceAnimation 1s 1;
}

@keyframes showDeviceAnimation {
    0% {
        top: 50px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}


#mainContent .popup.pairMenu.pairSingleDevice .text {
    transition: opacity .3s;
}

#mainContent .popup.pairMenu.pairSingleDevice .text.header {
    position: relative;
    height: 20px;

    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
    color: #337;
}

.popup.pairMenu.pairSingleDevice .button.text {
    text-align: center;
}
.popup.pairMenu.pairSingleDevice .button.text.bindButton {
    color: #44f;
}